<nav class="navbar navbar-expand-lg navbar-light" style="background-color: hsl(194, 35%, 50%);">
    <a class="navbar-brand ms-3" routerLink="">Exam Demo</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="users/login" routerLinkActive="activelink">Login </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="users/signup" routerLinkActive="activelink">signup</a>
            </li>
        </ul>
    </div>
</nav>
