<div class="d-flex justify-content-end">
    <button class="btn-close" (click)="closeButton()"></button>
</div>
<div *ngFor="let studentDataItem of studentData">
    <h3 class="text-warning text-center mt-2">{{studentDataItem.name}}'s profile</h3>
    <p><span class="h5 ms-3">Id: </span>{{studentDataItem._id}}</p>
    <p><span class="h5 ms-3">Email: </span>{{studentDataItem.email}}</p>
</div>
<h4 class="text-center" *ngIf="studentResultData.length>0">Result</h4>
<div *ngIf="studentResultData.length>0">
    <table class="table table-bordered">
        <thead class="bg-secondary">
            <tr>
                <th>Subject name</th>
                <th>Rank</th>
                <th>Status</th>
                <th>Score</th>
            </tr>
        </thead>
        <tbody class="bg-light">
            <tr *ngFor="let studentResultDataItem of studentResultData">
                <ng-container>
                    <td>{{studentResultDataItem.subjectName}}</td>
                    <td>{{studentResultDataItem.rank}}</td>
                    <td>{{studentResultDataItem.resultStatus}}</td>
                    <td>{{studentResultDataItem.score}}</td>
                </ng-container>
            </tr>
        </tbody>
    </table>
</div>