<div class="d-flex justify-content-center h2 text-success p-4 ">
    ALL STUDENTS LIST
</div>

<app-go-back></app-go-back>

<div>
    <table class="table table-bordered table-striped">
        <thead>
            <tr class="bg-secondary h4 text-center">
                <th>Name</th>
                <th>Email</th>
                <th>Status</th>
                <th>Id</th>
                <th>View profile</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let studentListItem of studentList">
                <td>{{studentListItem.name}}</td>
                <td>{{studentListItem.email}}</td>
                <td>{{studentListItem.status}}</td>
                <td>{{studentListItem._id}}</td>
                <td class="d-flex justify-content-center">
                    <button class="btn-primary w-50" (click)="showsStudentProfile(studentListItem._id)">view</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>