<div class="container p-5">

    <app-go-back></app-go-back>

    <div class="row p-5 justify-content-center">
        <div class="card p-5 w-50 bg-info col-sm-4">
            <div class="card-title text-center">
                <i class="fa fa-user fa-5x" aria-hidden="true"></i>
                <div *ngFor="let profileData of studentProfileData">
                    {{profileData.name}}
                </div>
            </div>
            <div class="card-body bg-light">
                <ng-container *ngFor="let profileData of studentProfileData">
                    <p><span class="h5 ms-3">Id: </span>{{profileData._id}}</p>
                    <p><span class="h5 ms-3">Email: </span>{{profileData.email}}</p>
                </ng-container>
            </div>
        </div>
    </div>
</div>