<div class="container justify-content-center pt-3">

    <app-go-back></app-go-back>

    <div class="row">
        <div class="card col-sm-12">
            <div class="card-title text-center mt-4 h2 text-primary">
                Exam Paper
            </div>
            <div class="card-body">
                <div>
                    <ng-container *ngFor="let paperData of examPaperData">
                        <p><span class="h5">Question id: </span>{{paperData._id}}</p>
                        <p>{{paperData.question}}</p>
                        <p>{{paperData.options}}</p>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</div>