<div class="container">
    <div class="row pt-4 justify-content-center">
        <div class="h3 p-4 bg-warning">
            New Password
        </div>
        <div class="col-4 ms-5">
            <form [formGroup]="newPasswordForm" (ngSubmit)="newPasswordGenrate()">
                <div class="mb-4">
                    <label class="h4 text-primary">Password</label>
                    <input type="password" class="form-control" name="Password" id="Password" formControlName="Password"
                        placeholder="Enter password">
                    <div class="text-danger"
                        *ngIf="newPasswordForm.get('Password')?.touched && newPasswordForm.get('Password')?.invalid">
                        <p *ngIf="newPasswordForm.get('Password')?.hasError('required')">Password is required</p>
                        <p *ngIf="newPasswordForm.get('Password')?.hasError('minlength')">
                            Password must be at least 8 characters long
                        </p>
                        <p *ngIf="newPasswordForm.get('Password')?.hasError('maxlength')">
                            Password allows only 20 characters
                        </p>
                    </div>
                </div>
                <div class="mb-4">
                    <label class="h4 text-primary">Confirm password</label>
                    <input type="password" class="form-control" name="ConfirmPassword" id="ConfirmPassword"
                        formControlName="ConfirmPassword" placeholder="Re-enter password">
                    <div class="text-danger"
                        *ngIf="newPasswordForm.get('ConfirmPassword')?.touched && newPasswordForm.get('ConfirmPassword')?.invalid">
                        <p *ngIf="newPasswordForm.get('ConfirmPassword')?.hasError('required')">
                            Confirm password is required
                        </p>
                        <p *ngIf="newPasswordForm.get('ConfirmPassword')?.hasError('minlength')">
                            Confirm password must be at least 8 characters long
                        </p>
                        <p *ngIf="newPasswordForm.get('ConfirmPassword')?.hasError('maxlength')">
                            Confirm password allows only 20 characters
                        </p>
                    </div>
                </div>
                <div>
                    <button class="btn btn-success" [disabled]="newPasswordForm.invalid">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>