<div class="d-flex justify-content-center h2 text-success p-4 ">
    TOTAL EXAMS
</div>

<app-go-back></app-go-back>

<div class="row d-flex justify-content-center">
    <div class="spinner-grow text-primary" role="status" *ngIf="spinner"></div>
</div>
<div>
    <table class="table table-bordered table-striped">
        <thead>
            <tr class="bg-secondary h4 text-center" *ngIf="!spinner">
                <th>Exam id</th>
                <th>subject name</th>
                <th>Eamil</th>
                <th>Notes</th>
                <th>View</th>
                <th>edit exam</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let examListItem of examsList">
                <td>{{examListItem._id}}</td>
                <td>{{examListItem.subjectName}}</td>
                <td>{{examListItem.email}}</td>
                <td>{{examListItem.notes}}</td>
                <td class="text-center">
                    <button class="btn-primary w-50" (click)="viewExamDetails(examListItem._id)">view</button>
                </td>
                <!-- <td class="text-center"><button class="btn-warning w-50" (click)="editExam(examListItem._id)">Edit</button></td> -->
            </tr>
        </tbody>
    </table>
</div>