<nav class="navbar navbar-expand-lg navbar-light col-sm-12" style="background-color: hsl(194, 35%, 50%);">
    <a class="navbar-brand ms-3 col-sm-1">Exam Demo</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="/users/login" routerLinkActive="activelink">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/users/signup" routerLinkActive="activelink">sign up</a>
            </li>
        </ul>
    </div>
</nav>