<div class="container">
    <div class="row p-5 justify-content-center">
        <div class="p-5 w-50">
            <div class="card-title h3 bg-secondary">
                <p class="text-center p-3">SIGN UP</p>
            </div>
            <div class="card-body bg-light">
                <form [formGroup]="signUpForm" (ngSubmit)="signUpformSubmit()">
                    <div class="text-center">
                        <span class="text-secondary">Already have an account? </span>
                        <a routerLink="/users/login">LOGIN</a>
                    </div>
                    <div class="mt-3">
                        <label for="signUpName" class="h5">Name<i class="text-danger">*</i></label>
                        <input type="text" class="form-control" id="signUpName" name="signUpName" required
                            placeholder="Enter name" formControlName="name">
                        <div class="text-danger"
                            *ngIf="signUpForm.get('name')?.touched && signUpForm.get('name')?.invalid">
                            <p *ngIf="signUpForm.get('name')?.hasError('required')">Name is required</p>
                            <p *ngIf="signUpForm.get('name')?.hasError('minlength')">Name must be at least 3 characters long</p>
                        </div>
                    </div>
                    <div class="mt-3">
                        <label for="signUpEmail" class="h5">Email id<i class="text-danger">*</i></label>
                        <input type="text" class="form-control" id="signUpEmail" name="signUpEmail" required
                            minlength="3" placeholder="Enter email" formControlName="email">
                        <div class="text-danger"
                            *ngIf="signUpForm.get('email')?.touched && signUpForm.get('email')?.invalid">
                            <p *ngIf="signUpForm.get('email')?.hasError('required')">Email id is required</p>
                            <p *ngIf="signUpForm.get('email')?.hasError('pattern')">Email id is invalid</p>
                        </div>
                    </div>
                    <div class="mt-3">
                        <label for="signUpPassword" class="h5">Password<i class="text-danger">*</i></label>
                        <input type="password" class="form-control" name="signUpPassword" required minlength="8"
                            placeholder="Enter password" formControlName="password">
                        <div class="text-danger"
                            *ngIf="signUpForm.get('password')?.touched && signUpForm.get('password')?.invalid">
                            <p *ngIf="signUpForm.get('password')?.hasError('required')">Password id is required</p>
                            <p *ngIf="signUpForm.get('password')?.hasError('minlength')">Password must be at least 8 characters long</p>
                            <p *ngIf="signUpForm.get('password')?.hasError('maxlength')">Password allows only 20 characters</p>
                        </div>
                    </div>
                    <div class="mt-3">
                        <label for="selectRole" class="h5">Role<i class="text-danger">*</i></label>
                        <select name="selectRole" class="form-select-sm m-2" formControlName="role">
                            <option value="" disabled>Select role</option>
                            <option *ngFor="let item of roles" id={{item.id}}>{{item.value}}
                            </option>
                        </select>
                        <div class="text-danger"
                            *ngIf="signUpForm.get('role')?.hasError('required') && signUpForm.get('role')?.touched">Select role.</div>
                    </div>
                    <div class="d-flex justify-content-center mt-5 mb-2">
                        <button class="btn btn-success w-50 " type="submit" [disabled]="signUpForm.invalid">Sign up</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>