<div class="container d-flex justify-content-center">
    <div class="row w-50 p-5">
        <div class="card bg-light">
            <div class="card-title m-2 h2">
                Forgot Password?
            </div>
            <div class="card-body ">
                <form #forgotPasswordForm="ngForm" (ngSubmit)="sendMail()">
                    <div>
                        <input type="text" class="form-control" placeholder="Enter email" id="email"
                            name="email" #email="ngModel" ngModel required
                            pattern='^[a-z0-9._%+-]+@[a-z0-9.-]+.[a-z]{2,4}$'>
                        <div class="text-danger" *ngIf="email.touched && email.invalid">
                            <p *ngIf="email.errors?.['required']">Email id is required</p>
                            <p *ngIf="email.errors?.['pattern']">Email id is invalid</p>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center mt-4 mb-2">
                        <button class="btn btn-dark w-50" type="submit" [disabled]="forgotPasswordForm.invalid">Send
                            mail</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>